@import url(http://weloveiconfonts.com/api/?family=zocial);

@import url(http://weloveiconfonts.com/api/?family=brandico);

/* zocial */
[class*="zocial-"]:before {
    font-family: "zocial", sans-serif;
    box-shadow: 5px -5px 3px 0px rgba(119,133,199,1);
    color: white;
}


/* brandico */
[class*="brandico-"]:before {
    font-family: "brandico", sans-serif;
    box-shadow: 5px -5px 3px 0px rgba(119,133,199,1);
    color: white;
}

body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.clear-fix {
    overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
    padding: 0 5%;
}

.project-entry {
    padding: 0 5%;
    display: inline-block;
}

.navigationBar {
    padding: 15px;
    background-color: #f5ae23;
}

.navigation {
    display: inline;
    padding: 0 100px;
    line-height: 50px;
    color: #b90426;
    font-weight: bold;
    font-size: larger;
}

#name {
    color: #f5ae23;
}

h1 {
    font-size: 40px;
    color: #f5a623;
    line-height: 48px;
    display: inline;
}

#contactH3 {
    font-style: oblique;
    font-size: 20px;
    color: #000;
    line-height: 22px;
    padding-left: 15%;
    color: #8c99b7;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #4d7e8d;
    line-height: 29px;
    padding: 10px;
}

h3 {
    font-style: italic;
    font-size: 20px;
    color: #000;
    line-height: 22px;
}

h4 {
    font-weight: bold;
    font-size: 14px;
    color: #4a4a4a;
    line-height: 17px;
}

h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}

.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}

.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}

p {
    font-size: 14px;
    color: #333;
    line-height: 21px;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    cursor: pointer;
}

a:hover {
    color: red;
}

.welcome-message {
    font-style: italic;
    font-size: 18px;
    color: #f3f3f3;
    line-height: 28px;
}

#skills-h3 {
    color: #f5ae23;
    text-align: center;
}

#skills {
    text-align: center;
}

.orange {
    background-color: #f5ae23;
}

.orange-text {
    color: #f5ae23;
}

.white-text {
    font-weight: bold;
    color: #dec7c7;
    display: inline;
}

.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}

.dark-gray {
    background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
    background-color: #484848;
}

.contactPic, .contactDetails {
/*#parent_div_1, #parent_div_2, #parent_div_3{
*/
    margin-right: 10px;
    float: left;
}

.flex-item {
    padding-bottom: 5px;
}

.flex-box {
    justify-content: space-around;
    padding: 10px;
}

.center-content {
    padding: 2.5% 5%;
}

ul {
    list-style-type: none;
}

.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
}

img {
    padding: 10px;
    width: 17%;
}

span {
    padding: 5px;
}

#role {
    display: flex;
    color: #ac6942;
    font-size: 23px;
}

#lets-connect {
    text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    };
}

@media only screen and (max-width:900px) {
    .biopic {
        width: 175px;
    };
}

@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }

    .biopic {
        width: 150px;
    }

    .welcome-message {
        display: none;
    };
}

#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}

#mapDiv {
    height: 300px;
    width: 90%;
    padding-left: 5%;
    padding-bottom: 5%;
}

.internationalizeButton {
    background-color: grey;
    cursor: pointer;
}

.container {
    background-color: rgba(0,0,0,0.75);
    width: 100%;
}

.social-media {
    padding-left: 120px;
    padding-top: 30px;
    vertical-align: center;
}

.social-media a:hover,
.social-media p:hover {
    cursor: pointer;
    background-color: red;
    text-decoration: none;
}

.social-media p {
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 750px) {
    #skills-h3,
  .biopic {
        display: block;
    };
}

